/* .container, .image, .text{
    border: 1px solid red;
} */

.container {
    background-color: #323031;
    padding: 20px; /* add 20px of padding to the container */
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.image, .text {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;    
}

.image{
    text-align: center;
}

.text{
    text-align: left;
    padding: 20px;
    
}

.text h2{
    line-height: 0;
}

img {
    max-width: 70%;
    height: auto;
}

/*body style*/
body {
    background-color:  #3D3B3C;
    font-family: 'Verdana', sans-serif;
    color: #EAE0CC;
    margin: 0;
    padding: 0;
}

/*navigation style*/
nav {
    background: linear-gradient(#323031, #3D3B3C);
    overflow: hidden;
}

nav ul{
    list-style: none; 
    text-align: center; 
    margin: 0;
    padding: 0;   
}

nav ul li {
    line-height: 50px;
    display: inline;
}

nav ul li a {
    color: #EAE0CC;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

nav a.active {
    color: #00CA00;
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/*footer style*/
footer {
    background: linear-gradient(#3D3B3C, #323031);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a:visited{
    color: #000;
}

footer a:link{
    color: #000;
}
  
  