body {
    background-color:  #3D3B3C;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

/* Style the navigation bar */
nav {
    background-color: #323031;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

/* Style the links */
nav a {
    color: #EAE0CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the active link */
nav a.active {
    color: #00CA00;
}

/* Style the links on hover */
nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.text-style{
    font-family: 'Open Sans', sans-serif;
    color: #EAE0CC;
}
  
  